[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][13]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=-1
layoutId=
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][13][Applets][116]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][13][Applets][116][Configuration]
PreloadWeight=0

[Containments][13][Applets][44]
immutability=1
plugin=org.kde.plasma.volume

[Containments][13][Applets][44][Configuration]
PreloadWeight=0

[Containments][13][Applets][44][Configuration][ConfigDialog]
DialogHeight=591
DialogWidth=936

[Containments][13][Applets][45]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][13][Applets][45][Configuration]
PreloadWeight=0

[Containments][13][Applets][46]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][13][Applets][46][Configuration]
PreloadWeight=0

[Containments][13][Applets][47]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][13][Applets][47][Configuration]
PreloadWeight=0

[Containments][13][Applets][51]
immutability=1
plugin=org.kde.kdeconnect

[Containments][13][Applets][51][Configuration]
PreloadWeight=0

[Containments][13][Applets][52]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][13][Applets][52][Configuration]
PreloadWeight=0

[Containments][13][ConfigDialog]
DialogHeight=811
DialogWidth=930

[Containments][13][General]
extraItems=org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol,org.kde.plasma.devicenotifier,org.kde.kdeconnect,org.kde.plasma.notifications,org.kde.plasma.mediacontroller,org.kde.plasma.clipboard,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardlayout
hiddenItems=SimpleScreenRecorder,org.kde.plasma.battery
knownItems=org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.keyboardindicator,org.kde.plasma.mediacontroller,org.kde.plasma.networkmanagement,org.kde.plasma.notifications,org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardlayout
showAllItems=true
shownItems=octopi-notifier,org.kde.kdeconnect

[Containments][15]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][15][Applets][100]
immutability=1
plugin=org.kde.windowtitle

[Containments][15][Applets][100][Configuration]
PreloadWeight=0

[Containments][15][Applets][100][Configuration][ConfigDialog]
DialogHeight=632
DialogWidth=962

[Containments][15][Applets][100][Configuration][General]
containmentType=Latte
filterActivityInfo=false
lengthFirstMargin=4
lengthMarginsLock=false
placeHolder=Plasma
showIcon=false

[Containments][15][Applets][102]
immutability=1
plugin=org.kde.plasma.chiliclock

[Containments][15][Applets][102][Configuration]
PreloadWeight=0

[Containments][15][Applets][102][Configuration][Appearance]
customDateFormat=dd MMM yyyy
dateFormat=customDate
enabledCalendarPlugins=/usr/lib/qt5/plugins/plasmacalendarplugins/holidaysevents.so,/usr/lib/qt5/plugins/plasmacalendarplugins/pimevents.so
fixedFont=true
fontFamily=SFNS Display
fontSize=14
use24hFormat=2

[Containments][15][Applets][102][Configuration][ConfigDialog]
DialogHeight=552
DialogWidth=640

[Containments][15][Applets][103]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][15][Applets][103][Configuration]
PreloadWeight=0

[Containments][15][Applets][113]
immutability=1
plugin=org.kde.plasma.simplemenu

[Containments][15][Applets][113][Configuration]
PreloadWeight=0

[Containments][15][Applets][113][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][15][Applets][113][Configuration][General]
customButtonImage=start-here
favoriteSystemActions=logout,lock-screen
favoritesPortedToKAstats=true
useCustomButtonImage=true

[Containments][15][Applets][115]
immutability=1
plugin=org.kde.plasma.eventcalendar

[Containments][15][Applets][115][Configuration]
PreloadWeight=2

[Containments][15][Applets][115][Configuration][Calendar]
monthEventBadgeType=bottomBar
monthHeightSingleColumn=290

[Containments][15][Applets][115][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][15][Applets][115][Configuration][General]
clockLine2HeightRatio=0.36
clockMaxHeight=15
clockTimeFormat1='<font color="#1d99f3">'yyyy MMM d'</font> | ' h:mm:ss AP
clockTimeFormat2=MMMM d, yyyy
v71Migration=true
v72Migration=true

[Containments][15][Applets][115][Configuration][Weather]
openWeatherMapCityId=2853924

[Containments][15][Applets][56]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][15][Applets][56][Configuration]
PreloadWeight=0
SystrayContainmentId=13

[Containments][15][Applets][57]
immutability=1
plugin=org.kde.windowbuttons

[Containments][15][Applets][57][Configuration]
PreloadWeight=0

[Containments][15][Applets][57][Configuration][ConfigDialog]
DialogHeight=653
DialogWidth=640

[Containments][15][Applets][57][Configuration][General]
buttonSizePercentage=42
buttons=3|4|5|10|2|9
containmentType=Latte
lengthFirstMargin=6
lengthLastMargin=6
selectedPlugin=
spacing=6
useDecorationMetrics=false
visibility=ActiveMaximizedWindow

[Containments][15][ConfigDialog]
DialogHeight=919
DialogWidth=539

[Containments][15][Configuration]
PreloadWeight=0

[Containments][15][General]
alignment=10
alignmentUpgraded=true
appletOrder=113;100;103;115;56
autoSizeEnabled=false
blurEnabled=false
dragActiveWindowEnabled=true
durationTime=x1
hideFloatingGapForMaximized=true
hideScreenGapForMaximized=true
iconSize=28
lengthExtMargin=2
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=95
plasmaBackgroundForPopups=true
screenEdgeMargin=8
shadowColorType=User
shadowOpacity=20
shadowsUpgraded=true
solidBackgroundForMaximized=true
splitterPosition=3
splitterPosition2=5
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=0
titleTooltips=false
windowColors=TouchingWindowColors
zoomLevel=0

[Containments][15][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.plasma

[Containments][15][Indicator][org.kde.latte.default][General]
glowApplyTo=OnActive

[Containments][16]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=1
timerHide=700
timerShow=200
viewType=0
visibility=3
wallpaperplugin=org.kde.image

[Containments][16][Applets][109]
immutability=1
plugin=org.kde.latte.separator

[Containments][16][Applets][109][Configuration]
PreloadWeight=0

[Containments][16][Applets][59]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][16][Applets][59][Configuration]
PreloadWeight=0

[Containments][16][Applets][59][Configuration][General]
hoverAction=PreviewWindows
isInLatteDock=true
launchers59=applications:firefox.desktop,applications:thunderbird.desktop,applications:signal-desktop.desktop,applications:discord.desktop,applications:org.kde.dolphin.desktop,applications:joplin.desktop,applications:speedcrunch.desktop,applications:visual-studio-code.desktop,applications:org.kde.konsole.desktop,applications:systemsettings.desktop,applications:org.kde.ksysguard.desktop
manualScrollTasksType=VerticalHorizontal
scrollTasksEnabled=true

[Containments][16][Applets][60]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][16][Applets][60][Configuration]
PreloadWeight=0

[Containments][16][Applets][60][Configuration][ConfigDialog]
DialogHeight=577
DialogWidth=803

[Containments][16][Applets][60][Configuration][General]
dontOverrideOpacity=true
idleIndicatorColor=#2c3746
indicatorColor=#ff5858
indicatorStyle=3
labelColor=#cbdbf5
labelStyle=0
occupiedIndicatorColor=#26292e

[Containments][16][Applets][60][Configuration][Preferences]
AddDesktopButtonShow=false
AddingDesktopsSwitchTo=false
DesktopLabelsStyle=1
MouseWheelRemoveDesktopOnClick=false

[Containments][16][Applets][61][Configuration]
PreloadWeight=0

[Containments][16][Applets][61][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][16][Applets][61][Configuration][General]
maximumIconSize=36
screenEdge=6

[Containments][16][ConfigDialog]
DialogHeight=648
DialogWidth=539

[Containments][16][Configuration]
PreloadWeight=0

[Containments][16][General]
advanced=false
alignmentUpgraded=true
appletOrder=59;109;60
durationTime=x1
editBackgroundOpacity=0.5
iconSize=44
inConfigureAppletsMode=true
lastWindowsVisibilityMode=8
lengthExtMargin=10
manualScrollTasksType=VerticalHorizontal
panelShadows=false
panelSize=100
panelTransparency=80
screenEdgeMargin=8
scrollAction=ScrollToggleMinimized
scrollTasksEnabled=true
shadowColor=263238
shadowOpacity=50
shadowSize=45
shadowsUpgraded=true
showGlow=false
showOnlyCurrentActivity=false
showOnlyCurrentDesktop=true
splitterPosition=1
splitterPosition2=2
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=15
unifiedGlobalShortcuts=false
zoomLevel=4

[Containments][16][Indicator]
customType=org.kde.latte.dashtopanel
enabled=true
enabledForApplets=true
padding=0.20000000298023224
type=org.kde.latte.plasma

[Containments][16][Indicator][org.kde.latte.dashtopanel][General]
style=Ciliora

[Containments][16][Indicator][org.kde.latte.default][General]
activeStyle=Dot
extraDotOnActive=true
glowEnabled=true
glowOpacity=0.2
minimizedTaskColoredDifferently=true

[Containments][16][Indicator][org.kde.latte.unity][General]
style=Dot

[LayoutSettings]
activities=
background=
backgroundStyle=0
color=red
customBackground=
customTextColor=fcfcfc
disableBordersForMaximizedWindows=true
icon=
lastUsedActivity=b1b1e047-e563-47b3-8cf1-98c6d7613c8c
launchers=
preferredForShortcutsTouched=true
sharedLayout=
showInMenu=true
textColor=fcfcfc
version=2
